@charset "UTF-8";
:root {
  --color-font-ligh: #ffffff;
  --second-bg-color: #f5f4fa;
  --bg-footer-color: #2f303a;
  --color-font-normal: #212121;
  --color-font-gray: #757575;
  --color-footer-text: rgba(117, 117, 117, 0.5);
  --color-font-accent: #2196f3;
  --black-color: #000000;
  --bcg-hero: #c4c4c4;
  --clients-logo: #afb1b8;
  --works-list-border: #eeeeee;
  --animation: cubic-bezier(0.4, 0, 0.2, 1);
  --timing-animation: 250ms;
}

.visually-hidden {
  /* Удаляем элемент из потока документа */
  position: absolute;
  /* Временное решение для неверно произносимого, размазанного текста */
  white-space: nowrap;
  /* Устанавливаем минимально возможный размер (некоторые скринридеры игнорируют элементы с нулевой высотой и шириной) */
  width: 1px;
  height: 1px;
  /* Скрываем вылезающий за границы контент */
  overflow: hidden;
  /* Сбрасываем любые свойства, которые могут повлиять на размер элемента */
  border: 0;
  padding: 0;
  /* Вырезаем ту часть контента, которая должна отображаться. */
  /* Устаревшее свойство clip для старых браузеров */
  clip: rect(0 0 0 0);
  /* clip-path для новых браузеров. inset(50%) определяет область вставки, которая позволит контенту исчезнуть.  */
  clip-path: inset(50%);
  /* Похоже, никто до конца не понимает, почему тут margin: -1px. Кроме того, это приводит к проблемам (читай: https://github.com/h5bp/html5-boilerplate/issues/1985). */
  margin: -1px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

body {
  color: var(--color-font-gray);
  background-color: var(--color-font-ligh);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.link {
  /* нижня лінія */
  text-decoration: none;
  transition: var(--timing-animation) var(--animation);
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.174;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.173;
  }
}

.menu-container {
  background-color: var(--color-font-ligh);
}

.menu-container.is-open {
  display: block;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    padding-top: 60px;
    padding-bottom: 60px;
    top: 101%;
    left: 0;
    width: 100%;
    z-index: 10;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
  }
}

.menu-button {
  display: inline-flex;
  padding: 0;
  border: 0;
  background-color: transparent;
  transition-property: color;
  transition-duration: var(--timing-animation);
  transition-timing-function: var(--animation);
}

.menu-button:hover, .menu-button:focus {
  color: var(--color-font-accent);
}

.menu-button__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.icon-menu {
  display: block;
}

.icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.button {
  display: inline-block;
  padding: 10px 32px;
  color: var(--color-font-normal);
  background-color: var(--second-bg-color);
  font-family: inherit;
  border-radius: 4px;
  border: none;
  text-align: center;
}

.section-title {
  margin-bottom: 30px;
  color: var(--color-font-normal);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.171;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all var(--timing-animation) var(--animation);
}

.modal {
  width: 100%;
  height: 100%;
  transform: scale(1);
  max-width: 450px;
  min-height: 581px;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  background-color: var(--color-font-ligh);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: var(--timing-animation);
  transition-timing-function: var(--animation);
  transition-delay: 250ms;
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 100%;
    max-width: 450px;
    height: 95%;
    max-height: 609px;
    overflow: scroll;
  }
}

@media screen and (max-height: 580px) and (max-width: 480px) {
  .modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-button {
  position: absolute;
  top: 10px;
  right: 8px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--color-font-ligh);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
  transition: color var(--timing-animation) var(--animation);
}

.modal-button:hover, .modal-button:focus {
  fill: var(--color-font-accent);
}

.modal-button:hover,
.modal-button:focus {
  color: var(--color-font-accent);
}

.modal-button-icon {
  fill: currentColor;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* ====== FORM ====== */
.form-title {
  margin-bottom: 12px;
  color: var(--color-font-normal);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.label-description {
  color: var(--color-font-gray);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.171;
  letter-spacing: 0.01em;
}

.form-field label {
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  position: relative;
  color: var(--color-font-normal);
}

.modal-form-input {
  height: 40px;
  width: 100%;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: var(--timing-animation);
  transition-timing-function: var(--animation);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--color-font-accent);
}

.form-field.textarea {
  margin-bottom: 20px;
}

.modal-form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: currentColor;
  transition-property: color;
  transition-duration: var(--timing-animation);
  transition-timing-function: var(--animation);
}

.modal-form-input:focus + .modal-form-icon {
  color: var(--color-font-accent);
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition-property: border-color;
  transition-duration: var(--timing-animation);
  transition-timing-function: var(--animation);
}

.modal-form-comment::placeholder {
  color: var(--color-footer-text);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.171;
  letter-spacing: 0.01em;
}

.modal-form-comment:focus {
  outline: none;
  border-color: var(--color-font-accent);
}

.form-field.policy {
  display: flex;
  margin-bottom: 30px;
}

.policy label {
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.171;
}

.modal-form-label-policy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-form-label-policy::before {
  content: "";
  display: inline-block;
  min-width: 15px;
  min-height: 15px;
  margin-right: 6px;
  border: 2px solid var(--color-font-normal);
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-form-input-policy:checked + .modal-form-label-policy::before {
  background-color: var(--color-font-accent);
  background-image: url(../images/icons/icon-check-vector.svg);
  border: none;
}

.policy-link {
  color: var(--color-font-accent);
  text-decoration: underline;
  margin-left: 3px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.171;
}

.button-submit {
  display: block;
  min-width: 200px;
  height: 50px;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  color: var(--color-font-ligh);
  background-color: var(--color-font-accent);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition-property: background-color, box-shadow;
  transition-duration: var(--timing-animation);
  transition-timing-function: var(--animation);
}

.button-submit:hover,
.button-submit:focus {
  background-color: #0e86e8;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 460px) {
  .modal {
    padding: 10px;
  }
}

@media screen and (max-width: 767px) {
  .backdrop {
    overflow-y: scroll;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 400px) {
  .backdrop {
    overflow-y: scroll;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .backdrop {
    padding-top: 208px;
    padding-bottom: 207px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .backdrop {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .form-title {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop {
    display: flex;
    align-items: center;
  }
  .modal {
    min-width: 528px;
  }
  .form-title {
    line-height: 1.172;
  }
  .modal-form-label-policy::before {
    margin-right: 8.38px;
  }
  .policy label {
    font-size: 14px;
    line-height: 1.714;
  }
  .policy-link {
    font-size: 14px;
    line-height: 1.714;
  }
}

.social-list-wrapper {
  max-width: 206px;
  padding-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition-property: background-color, color;
  transition-duration: var(--timing-animation);
  transition-timing-function: var(--animation);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--color-font-accent);
  color: var(--color-font-ligh);
}

.social-list-icon {
  fill: currentColor;
}

.footer-social-list {
  display: flex;
}

.footer-social-list-item {
  margin-right: 10px;
}

.footer-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-font-ligh);
  transition-property: background-color;
  transition-duration: var(--timing-animation);
  transition-timing-function: var(--animation);
}

.footer-social-list-link:hover, .footer-social-list-link:focus {
  background-color: var(--color-font-accent);
}

.footer-social-list-icon {
  fill: currentColor;
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.nav-wrapper {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo {
  color: var(--black-color);
}

.nav-logo span {
  color: var(--color-font-accent);
}

.nav-contacts {
  display: none;
}

.site-nav {
  display: flex;
}

.burger-btn,
.close-btn {
  background: transparent;
  border: none;
  fill: var(--color-font-normal);
  padding: 0;
}

.burger-icon,
.close-icon {
  width: 40px;
  height: 40px;
  transition: fill var(--timing-animation) var(--animation);
}

.burger-icon:hover, .burger-icon:focus,
.close-icon:hover,
.close-icon:focus {
  fill: var(--color-font-accent);
}

.dropdown-menu-contacts {
  margin-top: auto;
}

@media screen and (max-height: 419px) and (max-width: 319px) {
  .dropdown-menu-contacts {
    margin-top: 64px;
  }
}

@media screen and (max-height: 500px) and (min-width: 320px) {
  .dropdown-menu-contacts {
    margin-top: 65px;
  }
}

@media screen and (max-height: 660px) and (min-width: 320px) {
  .dropdown-menu-contacts {
    margin-top: 165px;
  }
}

.dropdown-menu-contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.dropdown-menu-contacts-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--color-font-gray);
}

@media screen and (min-width: 320px) {
  .dropdown-menu-contacts-link {
    font-size: 18px;
    line-height: 1.222;
  }
}

@media screen and (min-width: 480px) {
  .dropdown-menu-contacts-link {
    font-size: 24px;
    line-height: 1.166;
  }
}

.dropdown-menu-contacts-link.tel {
  color: var(--color-font-accent);
}

@media screen and (min-width: 320px) {
  .dropdown-menu-contacts-link.tel {
    font-size: 24px;
    line-height: 1.166;
  }
}

@media screen and (min-width: 480px) {
  .dropdown-menu-contacts-link.tel {
    font-size: 34px;
    line-height: 1.176;
  }
}

.dropdown-menu-social-links {
  display: flex;
  font-weight: 500;
  font-size: 8px;
  color: var(--color-font-accent);
  letter-spacing: 0.02em;
  margin-top: 64px;
}

@media screen and (min-width: 320px) {
  .dropdown-menu-social-links {
    font-size: 10px;
    justify-content: space-evenly;
    line-height: 1.333;
  }
}

@media screen and (min-width: 350px) {
  .dropdown-menu-social-links {
    font-size: 14px;
  }
}

@media screen and (min-width: 480px) {
  .dropdown-menu-social-links {
    font-size: 18px;
    line-height: 1.222;
  }
}

.dropdown-menu-social-links-item {
  padding: 0 10px;
}

.dropdown-menu-social-links-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.dropdown-menu-social-links-link {
  color: var(--color-font-accent);
}

.nav {
  position: relative;
  display: inline-block;
  color: var(--color-font-normal);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  transition: color var(--timing-animation) var(--animation);
}

.nav::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--color-font-accent);
  border-radius: 2px;
  opacity: 0;
  transform: scaleX(0);
  transition: all var(--timing-animation) var(--animation);
}

@media screen and (max-width: 767px) {
  .nav::after {
    bottom: -8px;
  }
}

.nav:hover, .nav:focus {
  color: var(--color-font-accent);
}

.nav:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

.nav.current {
  color: var(--color-font-accent);
}

.nav.current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--color-font-accent);
  border-radius: 2px;
  opacity: 0;
  transform: scaleX(0);
  opacity: 1;
  transform: scaleX(1);
}

@media screen and (max-width: 767px) {
  .nav.current::after {
    bottom: -8px;
  }
}

.nav-contacts-title {
  display: flex;
  align-items: center;
  color: var(--color-font-gray);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.171;
  letter-spacing: 0.02em;
  transition: color var(--timing-animation) var(--animation);
}

.nav-contacts-title:hover, .nav-contacts-title:focus {
  color: var(--color-font-accent);
}

.close-btn {
  position: absolute;
  top: 21px;
  right: 25px;
}

.mobile-menu-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
}

.dropdown-menu-nav {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--color-font-normal);
}

@media screen and (min-width: 320px) {
  .dropdown-menu-nav {
    font-size: 32px;
    line-height: 1.166;
  }
}

@media screen and (min-width: 480px) {
  .dropdown-menu-nav {
    font-size: 40px;
    line-height: 1.175;
  }
}

.mobile-menu-nav-item:not(:last-child) {
  margin-bottom: 35px;
}

@media screen and (min-width: 1200px) {
  .mobile-menu-nav-item + .mobile-menu-nav-item {
    margin-left: 30px;
  }
}

.mobile-nav-link {
  color: var(--color-font-normal);
  transition: color var(--timing-animation) var(--animation);
}

.mobile-nav-link.current {
  color: var(--color-font-accent);
}

.mobile-nav-link:hover, .mobile-nav-link:focus {
  color: var(--color-font-accent);
}

.contacts-icon {
  margin-right: 8px;
  fill: currentColor;
}

.mobile-menu {
  z-index: 1;
  position: fixed;
  width: 100%;
  overflow-y: scroll;
  height: 100vh;
  top: 0;
  left: 50%;
  padding: 48px 10px;
  transform: translateX(-50%) translateY(-200%);
  background-color: var(--color-font-ligh);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  transition-duration: var(--timing-animation);
  transition-timing-function: var(--animation);
}

@media screen and (min-width: 320px) {
  .mobile-menu {
    padding: 48px 40px;
  }
}

.mobile-menu.is-open {
  transform: translateX(-50%) translateY(0%);
}

@media screen and (max-width: 767px) {
  .nav-wrapper {
    justify-content: space-between;
  }
  .nav-logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .site-nav {
    flex-direction: column;
    text-align: center;
  }
  .site-nav__item:not(:last-child) {
    padding-bottom: 40px;
  }
  .nav-contacts {
    align-items: center;
  }
  .nav-contacts-title:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .nav-contacts {
    display: flex;
    justify-content: center;
    margin-left: auto;
  }
  .burger-btn {
    display: none;
  }
  .nav-logo {
    margin-right: 88px;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .nav {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 1199px) {
  .nav-contacts {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .nav-contacts-item {
    font-size: 12px;
    line-height: 1.171;
  }
  .nav-contacts-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-logo {
    margin-right: 93px;
  }
  .nav-contacts {
    margin-left: auto;
  }
  .nav-contacts-item {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .nav-contacts-item:not(:last-child) {
    margin-right: 30px;
  }
  .contacts-icon {
    margin-right: 10px;
  }
}

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 134px;
  padding-bottom: 134px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-size: 480px 400px;
}

@media screen and (min-width: 390px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

.hero-title {
  margin-bottom: 30px;
  color: var(--color-font-ligh);
  font-size: 16px;
  font-weight: 900;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 390px) {
  .hero-title {
    font-size: 26px;
  }
}

.hero-button {
  min-width: 200px;
  height: 50px;
  color: var(--color-font-ligh);
  background-color: var(--color-font-accent);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: var(--timing-animation);
  transition-timing-function: var(--animation);
}

.hero-button:hover, .hero-button:focus {
  background-color: #0e86e8;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile@2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 3) and (min-width: 320px), screen and (min-resolution: 288dpi) and (min-width: 320px), screen and (min-resolution: 3dppx) and (min-width: 320px) {
  px .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile@3x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet.jpg");
    background-size: 768px 400px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet@2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 3) and (min-width: 768px), screen and (min-resolution: 288dpi) and (min-width: 768px), screen and (min-resolution: 3dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet@3x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop.jpg");
    background-size: 1600px 600px;
  }
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop@2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 3) and (min-width: 1200px), screen and (min-resolution: 288dpi) and (min-width: 1200px), screen and (min-resolution: 3dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop@3x.jpg");
  }
}

.features {
  padding-top: 60px;
}

.features-list-item {
  max-width: 450px;
}

.features-list-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--second-bg-color);
  border-radius: 4px;
}

.features-list-title {
  margin-bottom: 10px;
  color: var(--color-font-normal);
  font-size: 14px;
  font-weight: 1.172;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.features-list-descriptions {
  font-size: 14px;
  line-height: 1.714;
}

@media screen and (max-width: 767px) {
  .features-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .features {
    padding-bottom: 60px;
  }
  .features-list-item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
  .features-list-item {
    width: calc((100% - 2 * 30px) / 2);
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
  }
  .features-list-item {
    width: calc((100% - 4 * 30px) / 4);
  }
}

.service {
  padding-top: 94px;
  padding-bottom: 94px;
}

.service-list {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}

.service-list-item {
  margin-right: 15px;
  margin-left: 15px;
}

.service-list-image-wrp {
  position: relative;
}

.service-list-overlay {
  position: absolute;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  left: 0;
  bottom: 0;
  color: var(--color-font-ligh);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

@media screen and (max-width: 1199px) {
  .service {
    display: none;
  }
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--second-bg-color);
}

.team-list-item {
  background-color: var(--color-font-ligh);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team-list-image {
  margin-bottom: 30px;
}

.team-list-title {
  margin-bottom: 10px;
  color: var(--color-font-normal);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.171;
}

.team-list-description {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
}

@media screen and (max-width: 767px) {
  .team-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .team-list-item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
  .team-list-item {
    width: calc((100% - 2 * 30px) / 2);
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team-list-item {
    width: calc((100% - 4 * 30px) / 4);
  }
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: -15px;
  margin-bottom: -15px;
}

.clients-list-item {
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: calc((100% - 2 * 30px) / 2);
}

.clients-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  color: var(--clients-logo);
  border: 1px solid var(--clients-logo);
  border-radius: 4px;
  transition-property: color, border;
  transition-duration: var(--timing-animation);
  transition-timing-function: var(--animation);
}

.clients-list-link:hover, .clients-list-link:focus {
  color: var(--color-font-accent);
  border: 1px solid var(--color-font-accent);
}

.clients-list-icon {
  fill: currentColor;
}

@media screen and (max-width: 1199px) {
  .clients-list {
    margin-top: -15px;
    margin-bottom: -15px;
  }
  .clients-list-item {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .clients-list-item {
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients-list-item {
    width: calc((100% - 6 * 30px) / 6);
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-footer-color);
}

.footer-logo {
  display: inline-block;
  color: var(--color-font-ligh);
  margin-bottom: 20px;
}

.footer-logo span {
  color: var(--color-font-accent);
}

.footer-address {
  margin-bottom: 8px;
  color: var(--color-font-ligh);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
}

.footer-contacts-title {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.footer-contacts-title:not(:last-child) {
  margin-bottom: 9px;
}

.footer-social {
  width: 206px;
}

.footer-social-description {
  margin-bottom: 20px;
  color: var(--color-font-ligh);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.172;
  text-transform: uppercase;
}

.footer-form-form-field {
  display: flex;
  flex-direction: column;
}

.footer-form-label {
  display: block;
  margin-bottom: 20px;
  color: var(--color-font-ligh);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.172;
  text-transform: uppercase;
}

.footer-form-input {
  height: 50px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color var(--timing-animation) var(--animation);
}

.footer-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer-form-input:focus {
  outline: none;
}

.footer-form-input:hover, .footer-form-input:focus {
  border: 1px solid var(--color-font-accent);
}

.footer-form-input:-webkit-autofill, .footer-form-input:-webkit-autofill:hover, .footer-form-input:-webkit-autofill:focus {
  border: 1px solid var(--color-font-accent);
  -webkit-text-fill-color: var(--color-font-ligh);
  transition: background-color 5000s ease-in-out 0s;
  color: #ffffff;
}

.footer-form-button {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  height: 50px;
  color: var(--color-font-ligh);
  background-color: var(--color-font-accent);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: var(--timing-animation);
  transition-timing-function: var(--animation);
  padding: 10px 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form-button:hover, .footer-form-button:focus {
  background-color: #0e86e8;
}

.footer-form-icon {
  margin-left: 10px;
  fill: var(--color-font-ligh);
}

@media screen and (max-width: 767px) {
  .footer-form-input {
    width: 100%;
  }
  .footer-social {
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-address-side {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-wrapper {
    text-align: center;
  }
  .footer-social {
    margin-left: auto;
  }
  .footer-form-form-field {
    margin-bottom: 20px;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-left-side {
    padding-left: 61px;
    padding-right: 74px;
  }
  .footer-form {
    margin-top: 60px;
  }
  .footer-form-input {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .footer-left-side {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrapper {
    display: flex;
    align-items: baseline;
  }
  .footer-address-side {
    margin-right: 85px;
  }
  .footer__right-side {
    display: flex;
    align-items: baseline;
  }
  .footer-social {
    margin-right: 93px;
  }
  .footer-form {
    display: flex;
    align-items: flex-end;
  }
  .footer-form-form-field {
    margin-right: 12px;
  }
  .footer-form-input {
    width: 358px;
  }
}
/*# sourceMappingURL=contacts.css.map */