@charset "UTF-8";
:root {
  --text-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;
  --color-font-accent: #2196f3;
  --color-font-normal: #212121;
  --color-font-light: #ffffff;
  --color-font-gray: #757575;
  --bg-footer-color: #2f303a;
  --color-footer-text: rgba(255, 255, 255, 0.6);
  --animation: cubic-bezier(0.4, 0, 0.2, 1);
  --timing-animation: 250ms;
}

body {
  font-family: var(--text-font);
  background-color: var(--white-text-bg-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.714;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  /* в параграфах і заголовках скидаємо марджен */
  margin: 0;
}

ul,
ol {
  /* в списках скидаємо відступи (зовнішні і внутрішні) */
  margin: 0;
  padding: 0;
}

img {
  /* усі зображення стали блоками */
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  /* нижня лінія */
  text-decoration: none;
  transition: var(--timing-animation) var(--animation);
}

.address {
  /* скидає італік */
  font-style: normal;
}

.lists-without-dots {
  /* вимикає цяточки в списках */
  list-style: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  outline: 1px solid red;
}

@media screen and (min-width: 480px) {
  .container {
    width: 448px;
    margin: 0 auto;
  }
}

.hero {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/bg/hero-bg.jpg");
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-footer-color);
  text-align: center;
}

.hero-title {
  color: var(--color-font-light);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 700px;
  margin-bottom: 30px;
}

.hero-board {
  padding: 200px 252px;
  text-align: center;
}

.ico-advantages {
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
}

.section-advantages {
  padding-top: 94px;
}

.advantages-list {
  display: flex;
}

.advantages-item {
  width: 270px;
}

.advantages-item:not(:last-child) {
  margin-right: 30px;
}

.title-advantages {
  font-size: 0px;
}

.advantages-title-item {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.142;
  text-transform: uppercase;
  color: var(--color-font-normal);
  margin-bottom: 10px;
}

.advantages-paragraph-item {
  color: var(--color-font-gray);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.connection-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.connection-itam {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.connection-itam:not(:last-child) {
  margin-right: 10px;
}

.connection-ico {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition: background-color var(--timing-animation) var(--animation);
}

.connection-ico:hover .social-list-icon,
.connection-ico:focus .social-list-icon {
  fill: var(--color-font-light);
}

.connection-ico:hover, .connection-ico:focus {
  background-color: var(--color-font-accent);
}

.social-list-icon {
  transition: var(--timing-animation) var(--animation);
}

.section-do {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title-do {
  margin-bottom: 50px;
}

/*  */
.do-list {
  display: flex;
  align-items: center;
}

.title-team {
  margin-bottom: 50px;
}

.do {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.162;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-font-normal);
  margin-bottom: 50px;
}

.do-item:not(:last-child) {
  margin-right: 30px;
}

.signature {
  position: relative;
}

.signature-text {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: 27px 0;
  background: rgba(47, 48, 58, 0.8);
}

.signature-paragraph {
  margin-bottom: 0;
  line-height: 16px;
  text-align: center;
  font-weight: 700;
  color: var(--color-font-light);
  text-transform: uppercase;
}

.section-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title,
.team-paragraph-item {
  text-align: center;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  background-color: var(--color-font-light);
}

.team-item:not(:last-child) {
  align-items: center;
  margin-right: 30px;
}

.team-title {
  color: var(--color-font-normal);
}

.team-paragraph-item {
  color: var(--color-font-gray);
  margin-top: 9px;
}

.wrapper {
  padding: 30px 0;
  text-align: center;
}

.text {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
}

.models-lis {
  display: flex;
  flex-wrap: wrap;
}

.models-title-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-font-normal);
  margin-bottom: 4px;
}

.models-paragraph-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--color-font-gray);
  margin: 0;
}

.models-box {
  position: relative;
  overflow: hidden;
}

.models-list {
  display: flex;
  flex-wrap: wrap;
}

.models-item {
  display: flex;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  background: var(--color-font-light);
  box-sizing: border-box;
  transition: box-shadow var(--timing-animation) var(--animation);
}

.models-item:nth-child(3n + 3) {
  margin-right: 0;
}

.models-item:nth-last-child(n + 4) {
  margin-bottom: 30px;
}

.href-item {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: var(--color-font-normal);
  /* background-color: violet; */
  border: 1px solid #eeeeee;
}

.href-item:focus, .href-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.href-item:hover .text-slider,
.href-item:focus .text-slider {
  transform: translateY(0);
  z-index: 1;
}

.container-item {
  width: 170px;
  height: 90px;
}

.container-item:not(:last-child) {
  margin-right: 30px;
}

.text-paragraf {
  font-size: 18px;
  line-height: 1.556;
  color: #ffffff;
}

.text-slider {
  position: absolute;
  transition: transform var(--timing-animation) var(--animation);
  transform: translateY(100%);
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
}

.text-card {
  padding: 20px 24px;
}

.address-footer {
  margin-bottom: 8px;
  color: var(--color-font-light);
  font-weight: 400;
  font-style: normal;
}

.footer-contact {
  margin-right: 70px;
}

.logotype-footer {
  color: var(--color-font-light);
}

.contact {
  font-weight: 500;
  font-style: normal;
}

.address-contact-geolocation-link {
  color: var(--color-font-light);
  font-style: normal;
}

.address-contact-geolocation-link:hover, .address-contact-geolocation-link:focus {
  color: var(--color-font-accent);
}

.footer {
  border-top: 1px solid var(--bg-footer-color);
  background-color: var(--bg-footer-color);
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.address-contact-link {
  font-weight: normal;
  color: var(--color-font-gray);
  padding: 0;
  display: inline-block;
  transition: var(--timing-animation) var(--animation);
}

.address-contact-link:hover, .address-contact-link:focus {
  color: var(--color-font-accent);
}

.address-list .address-contact-item + .address-contact-item {
  margin-top: 9px;
}

.footer-address {
  margin-right: 70px;
}

.footer-title-connection {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.142;
  margin-bottom: 20px;
  color: var(--color-font-light);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.accent {
  color: var(--color-font-accent);
  position: relative;
}

.logotype {
  font-family: Raleway, cursive;
  font-family: var(--title-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--color-font-normal);
  margin-right: 93px;
}

.hero-button,
.button-send,
.modal-button {
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  text-align: center;
  color: var(--color-font-light);
  background-color: var(--color-font-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.187;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 1 solid var(--accent-color);
  transition: box-shadow var(--timing-animation) var(--animation);
  transition: color var(--timing-animation) var(--animation);
  transition: background-color var(--timing-animation) var(--animation);
}

.hero-button:hover, .hero-button:focus,
.button-send:hover,
.button-send:focus,
.modal-button:hover,
.modal-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.list-button {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.button-caption {
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.162;
  letter-spacing: inherit;
  color: var(--title-font);
  background-color: #f5f4fa;
  cursor: pointer;
  transition: background-color var(--timing-animation) var(--animation), color var(--timing-animation) var(--animation), box-shadow var(--timing-animation) var(--animation);
}

.button-caption:hover, .button-caption:focus {
  border: none;
  color: var(--color-font-light);
  background-color: var(--color-font-accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-caption-items:not(:last-child) {
  margin-right: 8px;
}

.modal-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
}

.modal-button:hover, .modal-button:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.button-mailing {
  display: flex;
  justify-content: center;
  padding: 10px 28px;
  align-items: center;
  transition: box-shadow var(--timing-animation) var(--animation);
}

.footer-connection-list {
  display: flex;
  justify-content: center;
}

.footer-connection-itam {
  width: 44px;
  height: 44px;
}

.footer-connection-itam:not(:last-child) {
  margin-right: 10px;
}

.footer-connection-itam:not(:last-child) {
  margin-right: 10px;
}

.footer-connection-ico {
  align-items: center;
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--color-font-light);
  width: 100%;
  height: 100%;
  transition: var(--timing-animation) var(--animation);
}

.footer-connection-ico:hover, .footer-connection-ico:focus {
  background-color: var(--color-font-accent);
}

.modal-close {
  display: flex;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0.1);
  transition: all var(--timing-animation) var(--animation);
}

.modal-close:hover, .modal-close:focus {
  fill: var(--color-font-accent);
  border-color: var(--color-font-accent);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all var(--timing-animation) var(--animation);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0.6);
}

.modal-window {
  position: absolute;
  min-width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-font-light);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: all var(--timing-animation) var(--animation);
  transform: translate(-50%, -50%) scale(1);
}

.form-modal {
  padding: 40px;
}

.form-modal .inputs-data {
  position: relative;
}

.inputs-data {
  margin-bottom: 28px;
}

.modal-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-font-normal);
  display: block;
  margin-bottom: 30px;
}

.form-input,
.coment {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-input:focus, .form-input:focus,
.coment:focus,
.coment:focus {
  outline: none;
  border: 1px solid var(--color-font-accent);
}

.form-input {
  position: relative;
  padding-left: 42px;
  transition: border var(--timing-animation) var(--animation);
}

.form-input:focus ~ .form-ico {
  fill: var(--color-font-accent);
}

.form-ico {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.form-label,
.coment-label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-18px);
  font-weight: normal;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.form-coment {
  position: relative;
  margin-bottom: 20px;
}

.coment {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  transition: border var(--timing-animation) var(--animation);
}

.coment::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.in-checkbox {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.in-checkbox:checked + .label-checkbox::after {
  border-color: var(--color-font-accent);
  background-color: var(--color-font-accent);
  background-image: url(../img/ico/check.svg);
  background-size: contain;
  background-position: center;
  background-origin: border-box;
}

.in-checkbox:checked:focus + .label-checkbox::after {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.in-checkbox:focus:not(:checked) + .label-checkbox::after {
  border-color: var(--color-font-accent);
}

.label-checkbox {
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: 35px;
}

.label-checkbox::after {
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--color-font-normal);
  border-radius: 2px;
  transition: all var(--timing-animation) var(--animation);
}

.link-consent {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  color: var(--color-font-accent);
}

.box-send {
  margin-left: auto;
}

.box-send .form-box {
  display: flex;
  position: relative;
}

.submit-text {
  margin-bottom: 20px;
  margin-top: 0px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-font-light);
}

.mail-in {
  padding: 15px 16px;
  margin-right: 11px;
  width: 350px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: var(--color-font-light);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  transition: box-shadow var(--timing-animation) var(--animation);
}

.mail-in:hover, .mail-in:focus {
  border: 1px solid var(--color-font-accent);
}

.mail-in::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mail-in:-webkit-autofill, .mail-in:-webkit-autofill:hover, .mail-in:-webkit-autofill:focus {
  border: 1px solid var(--color-font-accent);
  -webkit-text-fill-color: var(--color-font-light);
  transition: background-color 5000s ease-in-out 0s;
  color: #275b6b;
}

.button-send {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-icon {
  margin-left: 10px;
  fill: var(--color-font-light);
}
/*# sourceMappingURL=main.css.map */