.ico-advantages {
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  @include flexs();
  align-items: center;
  width: 270px;
  height: 120px;
}

.section-advantages {
  padding-top: 94px;
}

.advantages-list {
  display: flex;
}

.advantages-item {
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.title-advantages {
  font-size: 0px;
}
.advantages-title-item {
  @include font($fs: 14px);
  text-transform: uppercase;
  color: var(--color-font-normal);
  margin-bottom: 10px;
}

.advantages-paragraph-item {
  color: var(--color-font-gray);

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;

  letter-spacing: 0.03em;
}
