.connection-list {
  @include flexs();
  margin-top: 16px;
}

.connection-itam {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.connection-ico {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  @include flexs();
  align-items: center;
  fill: #afb1b8;

  transition: background-color var(--timing-animation) var(--animation);

  &:hover .social-list-icon,
  &:focus .social-list-icon {
    fill: var(--color-font-light);
  }

  &:hover,
  &:focus {
    background-color: var(--color-font-accent);
  }
}

.social-list-icon {
  transition: var(--timing-animation) var(--animation);
}
