.section-do {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title-do {
  margin-bottom: 50px;
}
/*  */
.do-list {
  display: flex;
  align-items: center;
}

.title-team {
  margin-bottom: 50px;
}

.do {
  @include font($fs: 36px, $lh: 1.162);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-font-normal);
  margin-bottom: 50px;
}

.do-item:not(:last-child) {
  margin-right: 30px;
}
