.address-footer {
  margin-bottom: 8px;
  color: var(--color-font-light);
  font-weight: 400;
  font-style: normal;
}

.footer-contact {
  margin-right: 70px;
}

.logotype-footer {
  color: var(--color-font-light);
}

.contact {
  font-weight: 500;
  font-style: normal;
}

.address-contact-geolocation-link {
  color: var(--color-font-light);
  font-style: normal;

  &:hover,
  &:focus {
    color: var(--color-font-accent);
  }
}

.footer {
  border-top: 1px solid var(--bg-footer-color);
  background-color: var(--bg-footer-color);
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.address-contact-link {
  font-weight: normal;
  color: var(--color-font-gray);
  padding: 0;
  display: inline-block;
  transition: var(--timing-animation) var(--animation);

  &:hover,
  &:focus {
    color: var(--color-font-accent);
  }
}

.address-list .address-contact-item + .address-contact-item {
  margin-top: 9px;
}

.footer-address {
  margin-right: 70px;
}

.footer-title-connection {
  @include font($fs: 14px);
  margin-bottom: 20px;
  color: var(--color-font-light);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
