.header {
  position: relative;
  border-bottom: 1px solid #ececec;
  padding: 16px 0;
}

.burger-btn,
.close-btn {
  background: transparent;
  border: none;
  padding: 0;
  fill: var(--color-font-normal);
}

.close-btn {
  position: absolute;
  top: 21px;
  right: 25px;
}

.burger-icon,
.close-icon {
  width: 40px;
  height: 40px;
}

.mobile-menu {
  position: absolute;
  // position: relative;
  width: 100%;
  max-width: 480px;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  padding: 48px 40px;
  background-color: var(--color-font-light);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  transition: var(--timing-animation) var(--animation);
}

.mobile-menu.is-open {
  transform: translateX(-50%) translateY(0%);
}

@media screen and (max-width: 767px) {
  .navigation-list {
    display: none;
  }

  .contact-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding: 26px 0;
  }

  .burger-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .header {
    display: flex;
    align-items: center;
  }

  .navigation-list {
    display: flex;
    align-items: center;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 24px 0;
  }
}

// .header {
//   border-bottom: 1px solid #ececec;
// }

// .contact-list {
//   margin-left: auto;
// }

// .navigation-list-item:not(:last-child) {
//   margin-right: 50px;
// }

// .contact-item:not(:last-child) {
//   margin-right: 50px;
// }

// .contact-list-link {
//   display: flex;
//   align-items: center;
//   color: var(--color-font-gray);
// }

// .navigation-list .nav {
//   transition: color var(--timing-animation) var(--animation);
// }

// .navigation-list .nav,
// .contact-list .nav {
//   padding-top: 32px;
//   padding-bottom: 32px;
// }

// .navigation-list,
// .contact-list {
//   display: flex;
//   align-items: center;
// }

// .nav {
//   @include font(14px, 500, 1.142);
//   letter-spacing: 0.02em;
//   text-decoration: none;
//   color: var(--color-font-normal);
//   transition: var(--timing-animation) var(--animation);

//   &:hover,
//   &:focus {
//     color: var(--color-font-accent);
//   }
// }

// .navigation-list .accent::after {
//   left: 0;
//   bottom: 0;
//   content: "";
//   display: block;
//   width: 100%;
//   height: 4px;
//   background-color: var(--color-font-accent);
//   position: absolute;
//   border-radius: 2px;
// }

// .icon-envelope,
// .icon-Vector {
//   fill: currentColor;
//   margin-right: 10px;
//   display: inline-block;
// }
