.navigation-list .nav {
  transition: color var(--timing-animation) var(--animation);
}

.navigation-list .nav,
.contact-list .nav {
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-list,
.contact-list {
  display: flex;
  align-items: center;
}

.nav {
  @include font(14px, 500, 1.142);
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--color-font-normal);
  transition: var(--timing-animation) var(--animation);

  &:hover,
  &:focus {
    color: var(--color-font-accent);
  }
}

.navigation-list .accent::after {
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-font-accent);
  position: absolute;
  border-radius: 2px;
}

.icon-envelope,
.icon-Vector {
  fill: currentColor;
  margin-right: 10px;
  display: inline-block;
}
