.hero-button,
.button-send,
.modal-button {
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  text-align: center;
  color: var(--color-font-light);
  background-color: var(--color-font-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  @include font($lh: 1.187);
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 1 solid var(--accent-color);

  transition: box-shadow var(--timing-animation) var(--animation);
  transition: color var(--timing-animation) var(--animation);
  transition: background-color var(--timing-animation) var(--animation);

  &:hover,
  &:focus {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}

.list-button {
  margin-bottom: 50px;
  @include flexs();
}

.button-caption {
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  font-family: inherit;
  @include font($fw: 500, $lh: 1.162);
  letter-spacing: inherit;
  color: var(--title-font);
  background-color: #f5f4fa;
  cursor: pointer;

  transition: background-color var(--timing-animation) var(--animation),
    color var(--timing-animation) var(--animation),
    box-shadow var(--timing-animation) var(--animation);

  &:hover,
  &:focus {
    border: none;
    color: var(--color-font-light);
    background-color: var(--color-font-accent);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.button-caption-items:not(:last-child) {
  margin-right: 8px;
}

.modal-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.button-mailing {
  @include flexs();
  padding: 10px 28px;

  align-items: center;
  transition: box-shadow var(--timing-animation) var(--animation);
}

.menu-button {
  display: inline-flex;
  padding: 0;
  border: 0;
  background-color: transparent;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-animation);

  &:hover,
  &:focus {
    color: var(--color-font-accent);
  }

  &__icon {
    fill: currentColor;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
