.button {
  display: inline-block;
  padding: 10px 32px;
  color: var(--color-font-normal);
  background-color: var(--second-bg-color);

  font-family: inherit;
  border-radius: 4px;
  border: none;
  text-align: center;
}
