.footer-connection-list {
  @include flexs();
}

.footer-connection-itam {
  width: 44px;
  height: 44px;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-connection-ico {
  align-items: center;
  @include flexs();
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--color-font-light);
  width: 100%;
  height: 100%;
  transition: var(--timing-animation) var(--animation);

  &:hover,
  &:focus {
    background-color: var(--color-font-accent);
  }
}
