.logotype {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.174;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--color-font-normal);
}

@media screen and (min-width: 1200px) {
  .logotype {
    font-size: 26px;
    line-height: 1.173;
  }
}

// .logotype {
//   font-family: Raleway, cursive;
//   font-family: var(--title-font);
//   @include font($fs: 26px, $lh: 1.192);
//   letter-spacing: 0.03em;
//   text-decoration: none;
//   color: var(--color-font-normal);
//   // margin-right: 93px;
// }
