.modal-close {
  display: flex;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  border-color: rgba(0, 0, 0, 0.1);

  transition: all var(--timing-animation) var(--animation);

  &:hover,
  &:focus {
    fill: var(--color-font-accent);
    border-color: var(--color-font-accent);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all var(--timing-animation) var(--animation);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  .modal-window {
    transform: translate(-50%, -50%) scale(0.6);
  }
}

.modal-window {
  position: absolute;
  min-width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-font-light);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: all var(--timing-animation) var(--animation);
  transform: translate(-50%, -50%) scale(1);
}

.form-modal {
  padding: 40px;

  .inputs-data {
    position: relative;
  }
}

.inputs-data {
  margin-bottom: 28px;
}

.modal-text {
  @include font($fs: 20px, $lh: 1.15);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-font-normal);
  display: block;
  margin-bottom: 30px;
}

.form-input,
.coment {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &:focus,
  &:focus {
    outline: none;
    border: 1px solid var(--color-font-accent);
  }
}

.form-input {
  position: relative;
  padding-left: 42px;
  transition: border var(--timing-animation) var(--animation);

  &:focus ~ .form-ico {
    fill: var(--color-font-accent);
  }
}

.form-ico {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.form-label,
.coment-label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-18px);
  font-weight: normal;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.form-coment {
  position: relative;
  margin-bottom: 20px;
}

.coment {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  transition: border var(--timing-animation) var(--animation);

  &::placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.form-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.in-checkbox {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;

  &:checked + .label-checkbox::after {
    border-color: var(--color-font-accent);
    background-color: var(--color-font-accent);
    background-image: url(../img/ico/check.svg);
    background-size: contain;
    background-position: center;
    background-origin: border-box;
  }

  &:checked:focus + .label-checkbox::after {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  &:focus:not(:checked) + .label-checkbox::after {
    border-color: var(--color-font-accent);
  }
}

.label-checkbox {
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: 35px;

  &::after {
    position: absolute;
    top: 50%;
    left: 13px;
    transform: translateY(-50%);
    content: "";
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--color-font-normal);
    border-radius: 2px;
    transition: all var(--timing-animation) var(--animation);
  }
}

.link-consent {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  color: var(--color-font-accent);
}
