:root {
  --text-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;
  --color-font-accent: #2196f3;
  --color-font-normal: #212121;
  --color-font-light: #ffffff;
  --color-font-gray: #757575;
  --bg-footer-color: #2f303a;
  --color-footer-text: rgba(255, 255, 255, 0.6);
  --animation: cubic-bezier(0.4, 0, 0.2, 1);
  --timing-animation: 250ms;
}
