:root {
  --color-font-ligh: #ffffff;
  --second-bg-color: #f5f4fa;
  --bg-footer-color: #2f303a;
  --color-font-normal: #212121;
  --color-font-gray: #757575;
  --color-footer-text: rgba(117, 117, 117, 0.5);
  --color-font-accent: #2196f3;
  --black-color: #000000;
  --bcg-hero: #c4c4c4;
  --clients-logo: #afb1b8;
  --works-list-border: #eeeeee;

  --animation: cubic-bezier(0.4, 0, 0.2, 1);
  --timing-animation: 250ms;
}
